body {
	background: #3d3d3d;
	min-height: 90vh;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	color: #fff;
}

p {
	line-height: 1.8em;
	background: #515151;
	padding: .5em 1em;
	min-width: 200px;
	text-align: center;
	max-width: 800px;
	font-size: 16px;
	border-radius: 0.2em;
}

a {
	color: #d3d3d3;
	text-decoration: none;
}

a p:hover{
	background: #464646;
}

img {
	width: 18rem;
}

h1 {
	font-size: 5em;
}

.links {
	text-align: center
}

.links p {
	display: inline-block;
}